@page "/tanggal"

<br/>



<label id="label1">Transaction Type</label>

<FluentRadioGroup Required="true" aria-labelledby="label1" @bind-Value=transac Name="transacs" Orientation="Orientation.Horizontal">
    <FluentRadio Value="@("Purchase")">Apples</FluentRadio>
    <FluentRadio Value="@("Initial Stock")">Oranges</FluentRadio>
 </FluentRadioGroup>


<p>Your transaction : @transac!</p>

@code
{
    string? transac = "Purchase";
}